RapidOCR-json.code-workspace
cpp/build-win-vs2022-x64
cpp/onnxruntime-static
cpp/opencv-static
cpp/onnxruntime-gpu

!cpp/onnxruntime-static/OnnxRuntimeWrapper.cmake
!cpp/onnxruntime-static/windows-x64/OnnxRuntimeConfig.cmake

!cpp/opencv-static/OpenCVWrapper.cmake
!cpp/opencv-static/windows-x64/OpenCVConfig.cmake
!cpp/opencv-static/windows-x64/OpenCVConfig-version.cmake

!cpp/onnxruntime-gpu/OnnxRuntimeWrapper.cmake
!cpp/onnxruntime-gpu/windows-x64/OnnxRuntimeConfig.cmake

models